<div class="container">
  <h1>Add restaurant</h1>

 <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.submit "Add restaurant"%>
<% end %>
</div>
